<div class="container" >
  <h5> <b>{{this.lista | uppercase }} </b> </h5>
    <ul class="collection">
     
      <li class="collection-item " *ngFor="let estud of listaClase; let i = index">
  
        <div class="row">
          <div class="col s6">
            {{i+1}}) {{ estud.apellido1}} {{ estud.apellido2 }}  {{ estud.nombre }}
            <br> carnet: {{ estud.carnet }}
          </div>

          <div class="input-field col s3">
              <input placeholder="0" [(ngModel)]="estud.cotidiano" id="input{{i}}"
               type="number" min="0" max="20"  step="0.01" class="validate" keyboardType="number" >
            <label class="active" for="input{{i}}">Cotidiano</label>
        
          </div>
          <div class="input-field col s3">
            <input placeholder="0" [(ngModel)]="estud.extraclase" id="input{{i}}"
             type="number" min="0" max="20" step="0.01" class="validate" keyboardType="number" >
            <label class="active" for="input{{i}}">Extraclase</label>
          </div>

          <div class="col s6">          
          
            </div>
        
             <div class="input-field col s3 offset-s6">
              <input placeholder="0" [(ngModel)]="estud.parcial_1" id="input{{i}}" 
                type="number" min="0" max="20" step="0.01" class="validate" >
            <label class="active" for="input{{i}}">Parcial 1</label>
        
          </div>
          <div class="input-field col s3 ">
            <input placeholder="0" [(ngModel)]="estud.parcial_2" id="input{{i}}"
             type="number" min="0" max="20" step="0.01" class="validate" >
            <label class="active" for="input{{i}}">Parcial 2</label>
          </div>
          
          <div class="input-field col s6">            
              {{ estud.parcial_1 + estud.parcial_2 + estud.cotidiano + estud.extraclase + estud.concepto + estud.asistencia  | number :'2.0-0' }} 
              
            <label class="active" >PROMEDIO</label>
            
            </div>
        
             <div class="input-field col s3">
              <input placeholder="0" [(ngModel)]="estud.concepto" id="input{{i}}" 
              type="number" min="0" max="20" step="0.01" class="validate" >
            <label class="active" for="input{{i}}">Concepto</label>
        
          </div>
          <div class="input-field col s3">
            <input placeholder="0" [(ngModel)]="estud.asistencia" id="input{{i}}"
             type="number" min="0" max="20" step="0.01" class="validate" >
            <label class="active" for="input{{i}}">Asistencia</label>
          </div>


        </div>
      </li>
  
    </ul>
    <p><br/></p>   
    <a class="waves-effect waves-light btn">
      <i class="material-icons left">import_export</i>Exportar</a>
   
    <p><br/></p>
    <p><br/></p>
  </div>

  <!--container-->