<div class="container">

  <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>LUNES</div>
      <div class="collapsible-body"><span>
        <div class="container">
        1 - Español <br>
         2 - Español <br>
          3 - Matemática <br>
           4 - Matemática <br>
            5 - Ingles <br>
             6 - Ingles <br>
              7 - Ingles <br>

        </div>

        </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>MARTES</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>MIERCOLES</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>JUEVES</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>VIERNES</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>


  </ul>

</div>