
<div class="body-cover"></div>


<div *ngIf="visibleMenu" class="navbar-fixed">
  <nav class="nav-extended " role="navigation">
    <div class="nav-wrapper">

        <!--encabezado-->
        <a class="brand-logo">Padres</a>

        <!--Boton Menu lateral que se oculta-->
        <a materialize="sideNav" data-activates="mobile-demo"
        class="button-collapse" [materializeParams]="[{closeOnClick: true}]" >
        <i class="material-icons">menu</i>  </a>

        <!-- Menu en el navbar -->
        <ul id="nav-mobile" class="right hide-on-med-and-down ">
          <li><a [routerLink]="['/listaClase']">Comunicados</a></li>
          <li><a [routerLink]="['/listaControl']">Estudiantes</a></li>
          <!-- <li><a [routerLink]="['/boleta']">Pagos</a></li> -->
          <!-- <li><a [routerLink]="['/notas']">Notas</a></li> -->
          <!--<li><a  [routerLink]="['/listaClase']">Mobile</a></li>-->
        </ul>


        <!--tabs en la parte superior-->
        <ul class="tabs tabs-transparent hide-on-large-only" >
          <li class="tab col s3 "><a [routerLink]="['/listaClase']">
            <i class="Large material-icons ">sms</i>  </a></li>

            <li class="tab col s3 "><a [routerLink]="['/listaControl']">
              <i class="Large material-icons ">people</i>  </a></li>

          <li class="tab col s3 "><a [routerLink]="['/boleta']">
            <i class="Large material-icons ">money</i>   </a></li>

              <li class="tab col s3 "><a [routerLink]="['/boleta']">
                <i class="Large material-icons ">timer</i>   </a></li>

          <!-- <li class="tab col s3 "><a [routerLink]="['/notas']">Notas</a></li> -->
        </ul>
    </div>
  </nav>
</div>

<!--Menu lateral  para tablet -->
<ul class="side-nav" id="mobile-demo" >
  <li>
    <div class="userView">
      <div class="background">
        <!-- <img class="responsive-img" src="assets/img/side-nav2.webp" alt="Side Nav"> -->
      </div>
      <a><img class="circle" src="assets/img/cara.png" alt="Avatar"></a>
      <a><span class="white-text name">{{usuario | uppercase }}</span></a>
      <a><span class="white-text email">{{correo}}</span></a>
    </div>
  </li>


  <li>
    <a [routerLink]="['/infoEstud']"><i class="material-icons">list</i> Info estudiante</a>
  </li>
  <li>
    <a [routerLink]="['/horarios']"><i class="material-icons">av_timer</i>Horarios</a>
  </li>
  <li>
    <a [routerLink]="['/boleta']"><i class="material-icons">vpn_key</i>Cambiar clave</a>
  </li>
  <li>
    <a (click)="salir()"><i class="material-icons">power_settings_new</i>Salir</a>
  </li>
  <!--<li><a ><i class="material-icons">input</i>Mobile</a></li>-->
</ul>

<router-outlet></router-outlet>



